
/*default css style*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




/* App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff;
  color: #2d3436;
  overflow-y: hidden;
}

.main {
  flex: 1;   
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 0px;

  height: calc(100vh - 50px); /*make sure header's height won't influece other component*/
  overflow-y: hidden;
  background-color: #ffffff; 
  width: 100%;

}


.map-container {
  /*box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);*/
  border-radius: 0px;
  overflow: hidden;
  margin-right: 0px;
  margin-left: 0px;

  position: relative; 
  width: 75%;
  height: calc(100vh - 50px);
  min-height: 50vh;/* make sure the map is tall enough*/
}


.map-container .map {
  width: 100%;
  height: 100%;
}


  

.all-toilet-list {
  flex: 1;
  width: 25%;
  height: calc(100vh - 50px);
  min-height: 50vh;
  border-radius: 0px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  overflow-y: auto;
  padding: 20px;
  padding-right: 5px;
  margin-right: 0px;

    /* Firefox */
  scrollbar-width: none;

  /* IE / Edge */
  -ms-overflow-style: none;
}



/* Chrome / Safari */
.all-toilet-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}


/* Responsive Design */
@media (min-width: 1024px) {
  .main {
    display: flex;
    flex-direction: row;/*On a large screen, the map and list are placed on a row*/
    height: calc(100vh - 50px);
  }

  .map-container {
    width: calc(100% - 400px); /*The width should also occupy only 65%*/
  }

  .all-toilet-list {
    width: 400px;/*another 35% for list*/
  }
}



@media (max-width: 1024px) {
  
  .main {
    flex-direction: column;/*On small screens, the map and list need to be placed on column*/
  padding: 0px;
  }

  .map-container {
    position: fixed;
    top: 50px;
    min-width: 100%;/*The width should also occupy the entire screen*/
    /*make sure the map is a squre when in smallar device */
    height: 50vh;/*set the height of map as half of the window*/
    max-height: 600px;/*but it cannot be too high*/
    margin: 0;
  }

  .all-toilet-list {
    min-width: 100%;
    margin-top: calc(50px + 50vh);
    padding-bottom: 70px;
    height: calc(50vh - 50px);
    margin-right: 0;
  }


}

/*


@media (max-width: 768px) {
  .main {
    flex-direction: column;

  }

  .map-container {
    height: 50vh;
    max-height: 500px;
  }

  .all-toilet-list {
    min-width: 100%;
  }

}

@media (max-width: 480px) {
  .main {
    flex-direction: column;
  }

  .map-container {
    height: 50vh;
    aspect-ratio: 1/1;
    min-width: 100%;
  }

  .all-toilet-list {
    min-width: 100%;
  }


}
*/
